/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                                                                             *
 *                                                                             *
 *                 D E S I G N - T I M E   S T Y L E S   F O R                 *
 *                                                                             *
 *                     F R O N T   E N D   ( P U B L I C )                     *
 *                                                                             *
 *                                                                             *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.container,
.container-fluid,

.design-dashed-orange {
	border: dashed 2px orange;
}

.row,

.col,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,

.design-dashed-red {
	border: dashed 1px red;
	padding: 2px;
}

.kint footer {
	font-size: 11px;
}
